
.empreg-form {
    width: 100%;
  }
  
  .full-width {
    width: 100%;
  }

  .container-width{
    max-width: 550px;
  }

  .empreg-title{
    font-size: 18px;
  }

  .empreg-border{
    border: 1px solid rgb(138, 124, 124);
    height: 700px;
  }


