<div class="container">

<table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Employee Name</th>
        <th scope="col">Employee Id</th>
        <th scope="col">Contact Number</th>
        <th scope="col">Department</th>
        <th scope="col">Email</th>
        <th scope="col">HR</th>
        <th scope="col">Line Manager</th>
        
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>345678</td>
        <td>9986345466</td>
        <td>Accounts</td>
        <td>mark@mail.com</td>
        <td>Johnson</td>
        <td>Vishwesh</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>345654</td>
        <td>9986345987</td>
        <td>Facility</td>
        <td>jacob@mail.com</td>
        <td>Johnson</td>
        <td>Vishwesh</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Larry the Bird</td>
        <td>458789</td>
        <td>0000000000</td>
        <td>Electric</td>
        <td>larrythebird@mail.com</td>
        <td>Johnson</td>
        <td>Vishwesh</td>
      </tr>
      <tr>
        <th scope="row">4</th>
        <td>James</td>
        <td>345678</td>
        <td>9999999999</td>
        <td>HRD</td>
        <td>james@mail.com</td>
        <td>Johnson</td>
        <td>Vishwesh</td>
      </tr>
      <tr>
        <th scope="row">5</th>
        <td>David</td>
        <td>345678</td>
        <td>9879879879</td>
        <td>Payroll</td>
        <td>david@mail.com</td>
        <td>Johnson</td>
        <td>Vishwesh</td>
      </tr>
      <tr>
        <th scope="row">6</th>
        <td>Mary</td>
        <td>345678</td>
        <td>0000000000</td>
        <td>Software</td>
        <td>mary@mail.com</td>
        <td>Arnab</td>
        <td>Glitty</td>
      </tr>
      <tr>
        <th scope="row">7</th>
        <td>Sudheer</td>
        <td>345678</td>
        <td>00000000000</td>
        <td>Marketing</td>
        <td>sudheer@mail.com</td>
        <td>Arnab</td>
        <td>Glitty</td>
      </tr>
      <tr>
        <th scope="row">8</th>
        <td>Ramesh</td>
        <td>345678</td>
        <td>00000000000</td>
        <td>Sales</td>
        <td>ramesh@mail.com</td>
        <td>Arnab</td>
        <td>Glitty</td>
      </tr>
      <tr>
        <th scope="row">9</th>
        <td>Anupama</td>
        <td>345678</td>
        <td>00000000000</td>
        <td>Services</td>
        <td>anu@mail.com</td>
        <td>Arnab</td>
        <td>Glitty</td>
      </tr>
    </tbody>
  </table>
  </div>